*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    min-height: 100vh;
    background-color: rgb(6, 6, 39);
    color: white;
    font-family: sans-serif;
}
header{
    display: flex;
    align-items: center;
    padding: 10px clamp(20px , 2vw , 30px);
}
header a:hover,i:hover{
    color: #3131b1;
}
header i{
    cursor: pointer;
}
nav{
    margin-left: 20px;
}
nav a{
    color: white;
    font-size: 23px;
}
.logo img{
    width: clamp(20px , 10vw , 150px);
    height: clamp(20px , 10vw , 150px);
    border-radius: 50%;
}
.search-auth{
    display: flex;
}
.auth img{
    width: clamp(20px , 5vw , 70px);
    height: clamp(20px , 5vw , 70px);
    border-radius: 50%;
    cursor: pointer;
}
.search{
    margin-left: auto;
    background-color: #0c0c50;
    padding: 10px 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}
.search i {
    font-size: 20px;
    margin: 10px ;
}
.search input{
    font-size: 20px;
    border: none;
    background-color: transparent;
    padding: 10px;
    margin:0 10px;
    outline: none;
    color: white;
}
.auth{
    margin-left: 50px;
    display: flex;
    align-items: center;
}
.auth i {
    font-size: 20px;
    margin-right: 30px;
}
.global{
   display: flex; 
   width: 100%;
}
main{
    padding: 5px clamp(5px , 1vw , 20px);
    max-width: 1000px;
}
.album{
    margin: 20px 20px;
    display: flex;
    align-items: center;
    flex-flow: row wrap;
}
.album img{
    width: 250px;
    height: 250px;
    border-radius: 5px;
    margin-left: 10px;
}
.latest-title{
    font-size: clamp(10px , 2vw , 30px);
    margin: 40px 0;
    margin-left: 30px;
}
.latest{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    padding: 0 clamp(10px , 2vw , 40px);
}
.latest-content{
    display: flex;
    align-items: center;
    gap: 0 15px;
    justify-content: space-between;
    margin: 0 0 0 15px;
    padding: 10px;
}
.latest-content img{
    width: 100px;
    height: 100px;
    border-radius: 10px;
}
.latest-text{
    font-size: 18px;
}
.latest-time{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px 0;
}
.popular h2{
    font-size: 30px;
    margin: 30px 0 0 20px;
}
.popular-img {
    display: flex;
    flex-flow: row wrap;
}
.a-img{
    margin: 10px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px 0;
}
.a-img img{
    height: 140px;
    width: 140px;
    border-radius: 50%;
}
.station{
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    background-color: rgb(16, 22, 66);
    padding: 10px;
    max-width: 800px;
    margin: 20px 0;
    border-radius: 20px;
}
.station img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-left: -14px;
}
.party{
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    margin: 50px 0;
}
.party-content{
    position: relative ;
    margin-left: 10px;
}
.party-content img{
    width: 280px;
    height: 200px;
    border-radius: 10px;
}
.party-content p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    font-size: 30px;
    font-weight: 600;
}
.latest-section{
    margin: 40px 0;
}
.latest-section h2{
    font-size: 26px;
    margin: 30px 0 30px 20px;
}
.latest-content{
    display: flex;
    flex-flow: row wrap;
}
.latest-elem{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.latest-elem *{
    text-align: center;
    margin: 10px 0;
}
.latest-elem img{
    width: 123px;
    height: 130px;
    border-radius: 12px;
}
aside{
    max-width: 400px;
    max-height: fit-content;
}
aside h2{
    font-size: 24px;
    margin: 10px 0 10px 20px;
}
.list-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0;
}
aside img{
    width: 20%;
    border-radius: 5px;
}
.list-incon i:hover{
    cursor: pointer;
    color: #3131b1 ;
}
.list-incon i:nth-child(2){
    margin-left: 14px;
}
@media(max-width: 1150px){
    .album img{
        margin: 10px 0 0 6px;
    }
    .latest{
        display: flex;
        flex-flow: row wrap;
    }
    .station img{
        margin: 10px 0 ;
    }
}
@media (max-width: 870px){
    header a , i{
        font-size: clamp(14px , 2vw , 30px);
    }
    header nav {
        margin-right: 10px;
    }
    header .search{
        padding: 5px ;
        font-size: 12px;
    }
    header img{
        width: clamp(20px , 3vw , 40px);
        height: clamp(20px , 3vw , 40px);
    }
    .global{
        flex-direction: column-reverse;
        align-items: center;
    }
    .album{
        justify-content: center;
    }
    .popular-img , .party{
        justify-content: center;
    }
}
@media(max-width: 680px){
    header{
        display: flex;
        justify-content: space-around;
    }
    header .search{
        display: none;
    }
    
}